<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="/webjars/vue/vue.js"></script>
<script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="/webjars/bootstrap/bootstrap-theme.min.css" />
</head>
<body class="container-fluid">
<div id="user">
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in list">
        <td><span v-on:click="user_info(item)">{{ item.id }}</span> </td>
        <td>{{ item.name }}</td>
        <td>{{ item.mail }}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
<script type="text/javascript" src="/scripts/user/user_list.js"></script>
</html>